/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 15px 50px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: gold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: gold;
} 


nav ul li a.active {
    color: gold;
}

.icons span {
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
}


/* Hero Section */
.hero {
    background: url('walll.webp') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 50px;
}

.hero-content {
    max-width: 400px;
}

.hero h1 {
    font-size: 40px;
    font-weight: bold;
}

.hero p {
    margin-top: 10px;
    font-size: 18px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: gold;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.btn:hover {
    background: orange;
}

/* Footer */
footer {
    text-align: center;
    background: black;
    padding: 10px;
    margin-top: 0px;
}

.highlight {
    color: gold;
}




